@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nerko+One&display=swap');

.slider-container {
    padding: 20px
}

.home-Container {
    .slider-container {
        >div {
            position: relative;
            z-index: 1;
            padding: 20px;

            .sliderImage {
                h1 {
                    font-family: "Nerko One", cursive;
                    font-weight: bold;
                    text-shadow: 0 0 4px #54d0f4;
                    color: white;
                    font-size: 60px;
                }

                .ratings {
                    font-family: "Nerko One", cursive;
                    color: #54d0f4;
                    font-weight: bold;
                    font-size: 40px;
                    text-shadow: 0 0 4px #000;

                }

            }
        }

        background-image: url('https://t3.ftcdn.net/jpg/03/07/15/28/360_F_307152868_ncMILWfZIhGoAEK8QsFDsScGiRaQMsL0.jpg');
        background-size: cover;
        background-position: center;

    }
}