@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

#algn {
    height: 92vh;
    min-height:70%;
    display: flex;
    justify-content: center;
}

#card {
    margin-top: 30px;
    width:50%;
    height:500px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 #E7E9EB, 0 6px 20px 0 #E7E9EB;
}

#upper-bg {
    width: 100%;
    height:40%;
    background-color: #FFE400;
    display: flex;
    justify-content: center;
    position: relative;
}

.profile-pic {
    width: 25%;
    background-color: white;
    border: 3px solid #FFE400;
    border-radius: 50%;
    padding: 3px;
    position: absolute;
    top: 10px;
}

#lower-bg {
    width: 100%;
    height: 65%;
}

.text {
    text-align: center;
    padding-top:50px;

    .name {
        font-weight: 600;
        font-size: large;
        padding: 0;
        margin: 5px;
    }

    .title {
        padding: 0;
        margin: 0;
        font-size: 15px;
    }
}

#icons {
    display: flex;
    justify-content: center;
    margin: 15px;

    img {
        width: 80%;
        height: 90%;
    }
}

.ico {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    display: flex;
    justify-content: center;
    margin: 15px;

    button {
        margin: 0 20px;
        padding: 10px 15px;
        background-color: #FFE400;
        border: none;
        border-radius: 50px;
        font-weight: 700;

        &:hover {
            box-shadow: 0 4px 8px 0 #E7E9EB, 0 6px 20px 0 #E7E9EB;
        }
    }
}

#l-c-s {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 10px;

    .num {
        display: flex;
    }

    .dvr {
        width: 2px;
        height: 25px;
        background-color: gray;
    }

    img {
        width: 24px;
        height: 24px;
    }
}