@import '../utils/variables';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family;
}
li{
    list-style-type: none;
}
.app{
    text-align: center;
}
a{
    text-decoration: none;
}
button{
    &:hover{
        cursor: pointer;
    }
}